@model ICollection<ExamApp.Models.Car>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head><title></title></head>
  <body>
	<table>
      <thead>
        <td>Licence plate</td>
		<td>Brand</td>
        <td>Model</td>
		<td>Color</td>
        <td>Year</td>
	  </thead>
	  @foreach (var car in Model)
	  {
        <tr>
		  <td>@car.Plate</td>
		  <td>@car.Car_brand</td>
          <td>@car.Car_model</td>
		  <td>@car.Color</td>
          <td>@car.Year</td>
		</tr>
	  }
	</table>
  </body>
</html>